<%- include('layouts/nav') %> 
<div class="container mx-auto">
<div class="card" style="width: 18rem;">
  <img src="https://img.freepik.com/premium-psd/3d-male-cartoon-character-avatar_235528-1109.jpg?w=1060" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Welcome <%= user?.name || 'Guest' %> </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Cari Kost</a>
  </div>
</div>
</p>
</div>
